<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Substractable Drainage Surface Area</title>
</head>

<body>
  <h2>Microservice for the retrieval of the subtractable surface area on the reuse of rainwater</h2>
  <p>It requires the roof surface area (excluding green roofs), the estimated reuse of rainwater per day and the total capacity of the rainwater tank. <br>
    Acces "<a href="http://localhost:5000/op/subtractabledrainagesurfacearea">op/subtractabledrainagesurfacearea</a>" to retrieve the data.</p>
</body>

</html>